@font-face{
     font-family:  "roboto";
     src: url(/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    font-family: "roboto";
    display: flex;
    justify-content: center;  
    background-color: #F8F9FA;  
}
hr{
    align-self: center;
    height: 20px;
    width: 80%;
    border-color: #CED4DA;
}
.grid__containerr{
    display: grid;
    height: 120vh;
    width: 100vw;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(24,1fr);
}
.footer{
    grid-column: 1/13;
    grid-row: 24/25;
    background-color: #1E3D59;
}
.containerdetails{
    grid-column: 2/12;
    grid-row: 3/23;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(10,1fr);
}
.details_containerimg{
    grid-column: 1/10;
    grid-row: 1/8;
    overflow: hidden;
}
.details_containerimg img{
    height: 100%;
    width: 100%;
    transition: transform .5s ease;
}
.details_containerimg img:hover{
    transform: scale(1.5);
}
.details_carruselimgscontainer{
    grid-column: 1/10;
    grid-row: 8/11;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.element{
    flex: 1 0 auto;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom: #CED4DA solid 1px;
    width: 33%;
    height: 90%;
}
.element img{
    width: 100%;
    height: 90%;
}
.element h1{
    margin: 0;
    font-size: medium;
    font-weight: 400;
}
.element p{
    margin:0;
    font-weight: 200;
}
.details_containertext{
    grid-column: 10/16;
    grid-row: 1/11;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: space-around;
}
.containertext_title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
    align-self: center;
}
.containertext_subtitle{
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
    align-self: center;
}